.sidebar {
    overflow-y: none; 
    position: fixed;
    flex: 1;
    width: 200px;
    border-right: 0.5px solid rgb(171, 166, 166);
    min-height: 100vh;
    background-color: rgba(213, 179, 186, 0.729);
    color: white;


    .top {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            font-size: 25px;
            font-weight: bold;
            color: #f34444;
        }

    }

    hr {
        height: 0px;
        border: 0.5px solid rgb(171, 166, 166);
    }

    .center {
        padding-left: 10px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .title {
                font-size: 10px;
                font-weight: bold;
                color: #fff;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #ff0911;

                    span {
                        color: #fff;
                    }

                    .icons {
                        color: #ada6a6;
                    }
                }
            }

            .icons {
                font-size: 18px;
                color: #cc4551;
            }

            span {
                font-weight: 600;
                font-size: -13px;
                color: #cc4551;
                margin-left: 10px;
                
                
            }
        }

    }

    .bottom {
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid rgb(171, 166, 166);
            cursor: pointer;
            margin: 5px;

            &:nth-child(1) {
                background-color: white;
            }

            &:nth-child(2) {
                background-color: black;
            }
        }
    }
}